#body{
    background-color: whitesmoke;
}

#barracima{
    background-color: rgb(236, 39, 55);
    color: white;
    height: 46px;
    text-align: right;
}

#login{
    background-color: rgb(152, 238, 137);
    color: rgb(14, 13, 13);
    border-style: inset;
    margin-top: 7px;
}

#cadastro{
    background-color: rgb(156, 213, 240);
    color: rgb(14, 13, 13);
    border-style: inset;
    margin-top: 7px;
}

#rodape{
    background-color: rgb(7, 6, 6);
    color: aliceblue;
    height: 40px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
 
#carrossel{
    width: 700px;
    height: 400px;
    background-color: white;
    border-style: double;
    
}

#carrosseldentro{
    
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#btnprox{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#btnanr{
    float: left;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#cardinho > img{
    width: 200px;
    height: 200px;
}

#cardinho{
    margin-left: 20px;
    border-color: black;
    border-style: double;
    width: 250px;
    height: 400px;
    align-items: center;
    text-align: center;
}

#alugar{
    background-color: rgb(43, 36, 36);
    color: whitesmoke;
    margin-top: 5px;
}

#venda{
    background-color: rgb(245, 234, 212);
    color: black;
    margin-top: 5px;
}

#todoscards{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}