<div class="container-fluid" id="body">
    <div class="row" id="barracima">
      <div class="col-sm-2">
        <img  src="/assets/imagens/icone.jpg" width="60px" height="40px" style="margin-top: 3px;">&nbsp; 
        <b>Agula-imoveis</b>
      </div>
      <div class="col-sm-8">
      <p style="margin-top: 8px;">  <b>pesquisar imóveis</b></p>
      </div>
      <div class="col-sm-1">
       <a href="https://accounts.google.com/AddSession/signinchooser?hl=pt-BR&continue=http%3A%2F%2Fsupport.google.com%2Faccounts%2Fanswer%2F27441%3Fhl%3Dpt-BR&ec=GAlAdQ&flowName=GlifWebSignIn&flowEntry=AddSession">
        <button id="login">login </button></a>
      </div>
      <div class="col-sm">
       <a href="https://accounts.google.com/signup/v2/webcreateaccount?continue=http%3A%2F%2Fsupport.google.com%2Faccounts%2Fanswer%2F27441%3Fhl%3Dpt-BR&hl=pt-BR&biz=false&flowName=GlifWebSignIn&flowEntry=SignUp">
        <button id="cadastro">cadastro </button></a>
       </div>
    </div>

    <br>

    <!--aqui fica o carrossel de imagens-->
       <div id="carrosseldentro">
         <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block " src="/assets/imagens/casa-cidade.jpg" alt="Primeiro Slide" id="carrossel">
          </div>
          <div class="carousel-item">
            <img class="d-block " src="/assets/imagens/casa-no-litoral.webp" alt="Segundo Slide" id="carrossel">
          </div>
          <div class="carousel-item">
            <img class="d-block " src="/assets/imagens/casa-campo.jpg" alt="Terceiro Slide" id="carrossel">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev" id="btnant">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next" id="btnprox">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Próximo</span>
        </a>
      </div>
       </div>

    <br>

    <!--aqui ficam os cards-->

      <div class="row" id="todoscards">
          <div class="card" id="cardinho">
            <br>
             <img src="/assets/imagens/casa-itapipoca.jpg">
         Rua Eubia Barroso 3153 <br>
             Ceará-Itapipoca <br>
             8 comodos <br>
             disponivel para :
             <a href="https://ce.mgfimoveis.com.br/itapipoca-casa-padrao-centro-venda-ce-itapipoca-277291079"> 
               <button id="venda">venda</button></a>
              <a href="https://ce.mgfimoveis.com.br/itapipoca-casa-padrao-centro-venda-ce-itapipoca-277291079">
                <button id="alugar">alugar</button></a>
          </div>
          <div class="card" id="cardinho">
            <br>
             
            
            <img src="/assets/imagens/casa-jundiai.jpg">
            Rua Barão de Teffé 497 <br>
             Sao Paulo-Jundiaí <br>
             4 comodos <br>
             disponivel para :
             <a href="https://www.nestoria.com.br/jundiai-mirim/casas/venda"> 
              <button id="venda">venda</button></a>
             <a href="https://www.nestoria.com.br/jundiai-mirim/casas/venda">
               <button id="alugar">alugar</button></a>
          </div>
          <div class="card" id="cardinho">
            <br>

            <img src="/assets/imagens/casa-pindamonhangaba.jpg">
            Rua São Benedito Centro 194 <br>
             Sao Paulo-Pindamonhangaba <br>
             6 comodos <br>
             disponivel para :
             <a href="https://www.imovelweb.com.br/casas-venda-pindamonhangaba-sp.html?iv_=__iv_p_1_a_7720835226_g_80554043679_w_dsa-140015087069_h_1001741_ii_9074182_d_c_v__n_g_c_587432145988_k__m__l__t__e__r__vi__&gclid=CjwKCAjwo8-SBhAlEiwAopc9W9-eDLyaBI8CQty8uzznA8ReHK5pE64HhJ7j8agHX_WyZYrJ1ClINxoCW6MQAvD_BwE"> 
              <button id="venda">venda</button></a>
             <a href="https://www.imovelweb.com.br/casas-venda-pindamonhangaba-sp.html?iv_=__iv_p_1_a_7720835226_g_80554043679_w_dsa-140015087069_h_1001741_ii_9074182_d_c_v__n_g_c_587432145988_k__m__l__t__e__r__vi__&gclid=CjwKCAjwo8-SBhAlEiwAopc9W9-eDLyaBI8CQty8uzznA8ReHK5pE64HhJ7j8agHX_WyZYrJ1ClINxoCW6MQAvD_BwE">
               <button id="alugar">alugar</button></a>
               
            </div>
           
            <div class="card" id="cardinho">
              <br>
              <img src="/assets/imagens/casa-bonito.jpg">
            Rua Dona Marta 7832 <br>
             Mato Grosso Do sul-Bonito <br>
             10 comodos <br>
             disponivel para :
             <a href="https://www.imovelweb.com.br/casas-venda-centro-bonito.html?iv_=__iv_p_1_a_7720835226_g_80554043679_w_dsa-140015087069_h_1001741_ii_9074182_d_c_v__n_g_c_587432145988_k__m__l__t__e__r__vi__&gclid=CjwKCAjwo8-SBhAlEiwAopc9W9-eDLyaBI8CQty8uzznA8ReHK5pE64HhJ7j8agHX_WyZYrJ1ClINxoCW6MQAvD_BwE"> 
              <button id="venda">venda</button></a>
             <a href="https://www.imovelweb.com.br/casas-venda-centro-bonito.html?iv_=__iv_p_1_a_7720835226_g_80554043679_w_dsa-140015087069_h_1001741_ii_9074182_d_c_v__n_g_c_587432145988_k__m__l__t__e__r__vi__&gclid=CjwKCAjwo8-SBhAlEiwAopc9W9-eDLyaBI8CQty8uzznA8ReHK5pE64HhJ7j8agHX_WyZYrJ1ClINxoCW6MQAvD_BwE">
               <button id="alugar">alugar</button></a>
  
          </div>
      </div>

      <br>
      <!--rodapé-->

      <div class="row" id="rodape">
        <div class="col-sm-2">
          contate-nos no:
        </div>
        <div class="col-sm-7">
         <a href="https://pt-br.facebook.com/enespanol/"><img src="/assets/imagens/icone-facebook.png" style="width: 30px;"></a> facebook
        </div>
        <div class="col-sm">
          <a href="https://www.instagram.com/explore/locations/1029624658/pagina-inicial/"> <img src="/assets/imagens/icone-instagram.webp" style="width: 30px;
          height: 30px;"></a>instagram
        </div>
        <div class="col-sm">
         <a href="https://angusnicneven.com/Terminal_Connect"> <img src="/assets/imagens/icone-twiter.png" style="width: 30px;
          height: 30px;"> </a>twitter
         </div>
      </div>

      
  </div>